@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    user-select: none;
    font-family: 'Poppins', sans-serif;
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #dbb13d;
    color: black;
}

*::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

*::-webkit-scrollbar-corner {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 0.5em;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    animation: fadeIn 0.5s forwards;
}

#launchpad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#launchpadTitle {
    font-size: 2em;
    color: white;
}

.search {
    width: 20em;
    height: 2em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: #41414182;
    color: rgb(255, 255, 255);
    font-size: 1em;
    border: 0.1em solid #1f1f1f;
    position: fixed;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    font-family: inherit;
    font-size: 1.05em;
}

.search:focus {
    outline: none;
}

.fade {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.785), rgba(0, 0, 0, 0));
}

.app-grid {
    width: 100em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
    color: white;
    margin-top: 5em;
    transform: translateY(25em);
    transition: all 0.5s ease;
}

.app {
    width: 10em;
    height: 10em;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5em;
    border: 0.1em solid transparent;
    transition: all 0.25s ease;
    will-change: opacity, height;
}

.app.hidden {
    display: none;
}

.app img {
    /* background-color: #e4e4e4; */
    background-color: #404040;
    padding: 0.5em;
    border-radius: 1.05em;
    border: 0.1em solid transparent;
    transition: box-shadow 0.125s, border 0.125s, transform 0.15s;
}

.app img:hover {
    cursor: pointer;
    box-shadow: 0 0 0.5em 0.2em #b4b4b4;
    transform: scale(1.05);
    transition: box-shadow 0.125s, border 0.125s, transform 0.15s;
}

.app.selected img {
    background-color: #676767;
}

.app p {
    height: 2em;
    font-weight: 500;
}

#limelight {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 90%;
    -webkit-app-region: drag;
}

#limelight #limelightSearch {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: white;
    font-family: inherit;
    font-size: 1.1em;
}

#limelight #limelightSearch:focus {
    outline: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13em;
    height: 100%;
    background-color: #f3f3f3;
    padding: 0.75em;
    border-right: 0.1em solid #c2c2c2;
    margin: 0;
    gap: 0.3em;
    overflow: scroll;
}

.sidebar .settings-search {
    border-radius: 0.4em;
    border: none;
    width: 100%;
    height: 2em;
    padding: 0.25em;
    border: 0.1em solid transparent;
    font-family: inherit;
    background-color: #e1e1e1;
}

.sidebar .settings-search:focus {
    outline: none;
    border: 0.1em solid #2176ff;
}

.sidebar-item {
    border-radius: 0.5em;
    padding: 0.25em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
}

.sidebar-item:hover {
    background-color: #e4e4e4;
}

.sidebar-item:active {
    background-color: #d1d1d1;
}

.sidebar-item.selected {
    background-color: #d1d1d1;
}

.sidebar-item.selected:hover {
    background-color: #bdbdbd;
}

.sidebar-item.selected:active {
    background-color: #b4b4b4;
}

.main-content {
    padding: 0.75em;
    height: 100%;
    width: 100%;
    overflow: scroll;
    max-width: 45em;
}

.settings-content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.settings-content.hidden {
    display: none;
}

.settings-title {
    font-size: 1.75em;
    font-weight: 500;
}

.settings-section-title {
    font-weight: 500;
}

.settings-content-items-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.settings-content-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    background-color: #f2f2f2;
    padding: 0.5em;
    height: 3em;
    border-radius: 0.4em;
    justify-content: space-between;
}

.settings-content-item div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.settings-content-button {
    border: none;
    background-color: #dadada;
    padding: 0.5em;
    font-weight: 500;
    font-size: 1em;
    font-family: inherit;
    border-radius: 0.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.settings-content-button div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.settings-content-button div span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.settings-content-button:active {
    background-color: #cacaca;
}

.settings-content-button:focus {
    outline: none;
}

.hint {
    color: #303030;
    gap: 0.75em;
}